.checkerboard{
    border-collapse: collapse;
}
.light{
    width: 50px;
    height: 50px;
    background-color:lightyellow;
}
.dark{
    width: 50px;
    height: 50px;
    background-color: chartreuse;
}