<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .color1{
            background-color: {{ color1 }};
        }
        .color2{
            background-color: {{ color2 }};
        }
    </style>
</head>
<body>
    <h1>CHECK(erboard) this out!</h1>
    <table class="checkerboard">
    {% for row in range(num1): %}
        <tr>
            {% for col in range(num2): %}
            <td class="box color{{ (row+col)%2+1 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>